*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.title{
    font-size: 48px;
    font-weight: 600;
}
.title_w{
    color: white;
}
.text{
    font-size: 18px;
    font-weight: 400;
}
.text_w{
    color: white;
}
li{
    list-style: none;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
    
    
}
/*header*/
.header{
    background-color: #163A24;
    padding: 20px 0;
}
.header__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items: center;
}
.header__item a{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.header__item{
    margin-left: 24px;
}
.header__item__button{
    background-color: #198C36;
    padding: 15px 25px;
    border-radius: 48px;
}
.intro{
    background-color: #163A24;
    
}
.intro__wrap{
    display: flex;
    padding: 120px 0 0;
}
.intro__text{
    display: flex;
    flex-direction: column;
}
.intro__title{
    margin-bottom: 18px;
}
.hr__block{
    display: flex;
    justify-content: space-between;
}
.hr__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
}
.hq{
    background-color: #163A24;
    padding: 66px 0 120px;
}
.hq__row{
    display: flex;
    justify-content: space-between;
}
.hq__title{
    text-align: center;
    margin-bottom: 74px;
}
.hq__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hq__text{
    text-align: center;
    margin-top: 30px;
}
.section2_hr__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 180px 0;
}
.sec2__block{
    display: flex;
    justify-content: space-between;
}
.sec2__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
}
.sec2__titlepad{
    padding-bottom: 27px;
}